<section id="main-stage">

  <article id="content">
    <% @blogs.each do |blog| %>
    <img src="<%= blog.image %>" class="photo">
    <div class="">
      <%= link_to blog.title, blog_path(blog) %>
      <%= blog.created_date %>
      <%= blog.blurb %>
      <% if blog.categories %>
        <% blog.categories.each do |category| %>
          <%= link_to category.name, category_path(category) %>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </article>
  <aside id="category-bar" class="flex-categories">
    <%= render partial: 'nav/categories' %>
  </aside>
</section>
