<!DOCTYPE html>
<html>
  <head>
    <title>BlogCity</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Maitree" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if params[:controller] == 'sessions' && params[:action] == 'new'%>
      <%= render partial: 'nav/empty-nav' %>
    <% else %>
      <%= render partial: 'nav/nav-bar' %>
    <% end %>
    <section id="meat-n-bones">
      <%= yield %>
    </section>
  </body>
</html>
